.btn-toolbar {
    gap: 30px 25px;
    justify-content: center;
    margin-bottom: 200px;
  }

.btn {
    background-color: var(--navbar-background-colour);
    border-color: white;
    border-radius: 15px;
    box-shadow: var(--boxshadow-colour);
    color: #fff;
    height: 415px;
    width: 415px;
}

.btn:focus, .btn:hover {
    background: #FFFFFF;
    border: none;
}

.btn-border, .btn-border:focus, .btn-border:hover {
    border: 3px solid #C32C72;
}

.btn-fullcolour, .btn-fullcolour:focus, .btn-fullcolour:hover {
    background-color: var(--navlink-colour-hover);
    border: 3px solid #FFF;
}