@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

body, 
html {
    height: 100%;
}

h1 {
    color: var(--heading-colour);
    font-size: 32px;
    padding: 75px 0;
    text-align: center;
}

footer {
    background-color: var(--navbar-background-colour);
    color: var(--navlink-colour); 
    display: flex;
    flex-shrink: 0;
    font-size: 12px;
    justify-content: space-between;
    padding: 1em;
}

.wrapper {
    flex: 1 0 auto;
}