@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
  }

body {
    background-color: var(--background-colour);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

body, 
html {
    height: 100%;
}

h1 {
    color: var(--heading-colour);
    font-size: 34px;
    padding: 65px 0;
    text-align: center;
}

footer {
    background-color: var(--navbar-background-colour);
    color: var(--navlink-colour);
    display: flex;
    flex-shrink: 0;
    font-size: 12px;
    justify-content: space-between;

}

.navbar, .btn-toolbar, footer {
    padding: var(--content-padding); 
}

.wrapper {
    flex: 1 0 auto;
}

@media (max-width: 1000px) {
    .navbar {
        padding: 5px 25px !important;
    }
    footer {
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        padding: 20px !important; 
        text-align: center;
    }
    h1 {
        padding: 40px 0 !important;
    }
}