:root {
    --background-colour: #E5E5E5;
    --boxshadow-colour: rgba(106, 106, 106, 0.25) 0px 6px 12px;
    --content-padding: 0.5rem 4rem;
    --heading-colour: #463F3A;
    --navbar-background-colour: #FFFFFF;
    --navlink-colour: #8D8D8D;
    --navlink-colour-hover: #C32C72;
    --title-colour: #262626;
}