.gridbox__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1.75rem 2rem;
    justify-content: center;
    margin-bottom: 15rem;
    margin-top: 2rem;
    max-width: 100%;

    &__item {
        box-shadow: $box-shadow;
        background-color: getColour(boxcolour);
        border: 3px solid getColour(boxcolour);
        border-radius: 5%;
        padding-top: 100%;
        position: relative;
    }

    &--border {
       background: getColour(boxcolour);
       border: 3px solid getColour(colourfill);
    }

    &--fill {
        background: getColour(colourfill);
        border: 3px solid getColour(boxcolour); 
    }
}