.gridbox__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1.5rem;
    justify-content: center;
    margin-bottom: 15rem;
    margin-top: 2rem;

    &__item {
        box-shadow: $box-shadow;
        background-color: white;
        border: 3px solid #FFF;
        border-radius: 5%;
        padding-top: 100%;
        position: relative;
    }

    &--colour-corner {
       background: getColour(defaultbox);
       border: 3px solid #C32C72;
    }

    &--full-colour {
        background: getColour(colourbox);
        border: 3px solid #FFF; 
    }
}