footer {
  flex-shrink: 0;
  font-size: 12px;
  padding: 0.75rem;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 2.1em;
      padding: 5px 0;
      text-align: center;
  }
}

@media (min-width: $tablet-width) {
  footer .container {
    flex-direction: row;
    line-height: 1em;
  }
}

.footer {
  background: getColour(secondary);

  &&__copygright, &&__link {
    color: getColour(textcolour);
  
  &&__link {
    text-decoration: none;

    }
  }
}