* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: getColour(primary);
    display: flex;
    flex-direction: column;
    font-family: $font;
    margin: 0;
}

