* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: getColour(primary);
    display: flex;
    flex-direction: column;
    font-family: $font;
    margin: 0;
}

.wrapper {
    flex: 1 0 auto;
}
  
.container {
    margin: 0 auto;
}