$box-shadow: rgba(106, 106, 106, 0.25) 0px 6px 12px;
$font: "open sans", sans-serif;
$menu: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(70,63,58, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
$tablet-width: 768px;

$colours: (
    primary: #E5E5E5,
    secondary: #F4F3EE,
    boxcolour: #C32C72,
    defaultbox: #FFFFFF,
    heading: #463F3A,
    title: #262626,
    breadcrumb: #8D8D8D,
);

@function getColour($colour) {
    @return map-get($colours, $colour);
}